body{
    padding-top: 60px;
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.01),
                0 4px 8px 0 rgba(0,0,0,0.05);
}

#banner-blockquote{
    background: url(../image/bg-quote.jpg) no-repeat center/cover;
    height: 550px;
}

@media (width < 575px){
    #right-section p{
        font-size: 1rem;
    }
    #right-section h1{
        font-size: 2rem;
        font-weight: 400;
    }
}

/* Primeira forma de não colocar a borda no último item */
.list-plans :not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

/* Segunda forma de não colocar a borda no último item */
/* Só irá adicionar borda em elemento que possuem um li como próximo elemento */
/* .list-plans li + li{
        border-bottom: 1px solid rgba(0,0,0,0.09); 
    } */

.list-plans li{
    padding: 10px;
}